# Placeholder __SERVER_NAME__
# Certbot / instalador preenche os caminhos do certificado.

server {
    listen 80;
    listen [::]:80;
    server_name __SERVER_NAME__;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name __SERVER_NAME__;

    ssl_certificate __SSL_CERTIFICATE__;
    ssl_certificate_key __SSL_CERTIFICATE_KEY__;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    client_max_body_size 4m;

    location ^~ /auth/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /admin/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /files/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /branding/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /dashboard/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /integrations/ {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location ^~ /health {
        include __ETC_DIR__/proxy-backend.conf;
    }

    location / {
        include __ETC_DIR__/proxy-frontend.conf;
    }
}
